<div class="app-wrap row">
  <div>
  <h2>Dezik</h2>
  <blockquote>Le schemas editor qui fait wouf.</blockquote>
  {{#unless model}}
    <p>No models yet!</p>
  {{/unless}}

  <ul class="list-unstyled">
    {{#each model as |item|}}
      <li class="model-list-item">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              {{item.id}}
              <button type="button" {{action "removeModel" item}} class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Delete</span></button>
            </h3>
          </div>

          <div class="panel-body">
            <ul class="list-unstyled">
              {{#each item.fields as |field|}}
                <li class="row">
                  {{model-field field=field update="updateFields"}}
                </li>
              {{else}}
                <li>
                  <p class="text-warning">No model attributes. Try using the 'Add Field' button below.</p>
                </li>
              {{/each}}
            </ul>
          </div>

          <div class="panel-footer">
            <button type="button" {{action "newField" item}} class="btn btn-sm btn-block btn-primary">&plus; Add Field</button>
          </div>
        </div>
      </li>
    {{/each}}

    {{li-new-model save=(action 'newModel')}}
  </ul>
  </div>
</div>

<footer class="app-footer text-center">
  <div class="center-block">Contains traces of <a href="https://github.com/andycrum/ember-data-model-maker">ember-data-model</a> from <a href="http://www.twitter.com/andy_crum">@andy_crum</a>.</div>
</footer>
